<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>NBA Salary Map</title>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <!-- Our CSS -->
</head>

<body>
    <!-- The div where we will inject our map -->
    <div id="map"></div>

    <!-- Leaflet JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <!-- API key -->
    <script type="text/javascript" src="../New folder/config.js"></script>
    <!-- JS -->
    <script type="text/javascript" src="map_logic.js"></script>
    <!--d3 Link-->
    <script src="https://d3js.org/d3.v4.min.js"></script>

</body>

</html>